<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    body {
      background-color: lightblue;
      width: 300px;
      margin-right: auto;
      margin-left: auto;
    }

    h1 {
      font-size: 2.2em;
    }

    .create {
      margin-left: 180px;
      font-size: 1.6em;
    }

    a {
      color: #00B7FF;
    }

    .plan {
      margin-bottom: 25px;
    }

    .plan2 {
      border: 1.3px solid gray;
      border-radius: 15px;
    }

    .name,
    .comment2 {
      border-bottom: solid gray 1.3px;
      background-color: gainsboro;
      border-radius: 15px 15px 0px 0px;
    }

    .name2,
    .time2 {
      margin-left: 15px;
    }

    .text {
      background-color: white;
    }

    .text2 {
      margin-left: 15px;
      font-size: 1.1em;
    }

    .name2,
    .text2{
      width: 270px;
    }

    .time {
      border-top: solid gray 1.3px;
      background-color: gainsboro;
      border-radius: 0px 0px 15px 15px;
      height: 25px;
    }

    .button {
      height: 24px;
      border: none;
      border-radius: 5px;
      background-color: pink;
      float: right;
      margin-right: 25px;
    }

    .comment {
      margin-top: 3px;
      border-radius: 15px;
      border: 1.3px solid gray;
    }

    .text3 {
      background-color: white;
      border-radius: 0px 0px 15px 15px;
    }

    .top {
      font-size: 1.3em;
    }
  </style>
  <title>予定</title>
</head>

<body>
  <% if(plan.length) { %>
  <h1>予定一覧</h1>
  <% } else { %>
  <h1>予定はありません</h1>
  <% } %>
  <a href="/plan/create" class="create">予定作成</a><br><br>
  <% for (i in plan) { %>
  <div class="plan">
    <div class="plan2">
      <div class="name"><b class="name2"><%= plan[i].user %></b></div>
      <div class="text">
        <div class="text2"><%= plan[i].text %></div>
      </div>
      <div class="time">
        <span class="time2"><%= plan[i].date %></span>
        <button class="button" id="<%= plan[i].id %>">コメントする</button></div>
    </div>
    <% for (var j = 0; j < plan[i].comment.length/2;j++) { %>
    <div class="comment">
      <div class="name"><b class="name2"><%= plan[i].comment[j*2] %></b></div>
      <div class="text3">
        <div class="text2"><%= plan[i].comment[j*2+1] %></div>
      </div>
    </div>
    <% } %>
  </div>
  <% } %>
  <a href="/" class="top">&lt;&lt;戻る</a>
  <script>
    document.onclick = (e) => {
      if (e.target.id) {
        window.location.href = `/plan/comment/${e.target.id}`;
      }
    }
  </script>
</body>

</html>